<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body style="background-color: #ADD8E6;">
	<h1 style="text-align: center">Welcome to Mobi Hotel Reservation</h1>
	<h2 style="text-align: center"></h2>
	<form action="#" th:object="${bookingDetails}">
		<table
			style="border: 1px solid black; margin-left: auto; margin-right: auto;">
			<tr>
				<td style="background-color:#FF0000"><span th:text="${bookingDetails.errorMessage}"></span></td>
			</tr>
		</table>
		<br /> <br />
		<table
			style="border: 1px solid black; margin-left: auto; margin-right: auto;">
			<tr>
				<td><h2>Reservation Policy:</h2></td>
			</tr>
			<tr>
				<td>1.Maximum Ten Rooms can be booked by a person</td>
			</tr>
			<tr>
				<td>2.Standard Check-In time is between 10 AM and 9 PM</td>
			</tr>
			<tr>
				<td>3.Standard Check-Out time is by 12 PM</td>
			</tr>
			<tr>
				<td>4.The rooms can be occupied by maximum 4 persons.</td>
			</tr>
		</table>
	</form>
</body>
</html>